<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
</head>
<body>
    <form action="/calculate" method="POST">

        <table>
            <thead>
                <tr>
                    <td><label for="firstNum">Enter first number:</label> </td>
                    <td colspan="2">Select Operation:</td>
                    <td> <label for="secondNum">Enter second number:</label></td>
                </tr>
            </thead>
            <tr>
                <td>
                    <input type="text" name="firstNum" id="firstNum">
                </td>
                <td>
                    <label for="plus">Plus</label> 
                </td>
                <td>
                    <input type="radio" name="ari" value="plus" id="plus">
                </td>
                <td>
                    <input type="text" name="secondNum" id="secondNum">
                </td>
            </tr>

                <tr>
                    <td></td>
                    <td>
                        <label for="minus">Minus</label>
                    </td>
                    <td>
                        <input type="radio" name="ari" value="minus" id="minus">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label for="mod">Mod</label>
                    </td>
                    <td>
                        <input type="radio" name="ari" value="mod" id="mod">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label for="divide">Divide</label>
                    </td>
                    <td>
                        <input type="radio" name="ari" value="divide" id="divide">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Enter">
                    </td>
                </tr>
            </table>





    </form>
</body>
</html>