<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
</head>
<body>
    <form action="/calculate" method="POST">

        <div>
            <label for="firstNum">Please Enter 1st Number</label>
            <input type="text" name="firstNum" id="">

            <label for="ari">Plus</label>
            <input type="radio" name="ari" value="plus" id="">
            <label for="ari">Minus</label>
            <input type="radio" name="ari" value="minus" id="">
            <label for="ari">Mod</label>
            <input type="radio" name="ari" value="mod" id="">
            <label for="ari">Divide</label>
            <input type="radio" name="ari" value="divide" id="">

            <label for="secondNum">Please Enter 2nd Number</label>
            <input type="text" name="secondNum" id="">
        </div>





    </form>
</body>
</html>