<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>

    <div data-th-if="${errorCode == 1}"><h1>First Number: <span th:text="${num}"></span> is not a number</h1></div>
    <div data-th-if="${errorCode == 2}"><h1>Second Number: <span th:text="${num}"></span> is not a number</h1></div>
    <div data-th-if="${errorCode == 3}"><h1>Calculated Number: <span th:text="${num}"></span> is not within 0 and 30</h1></div>
</body>
</html>